.footer__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 1rem;

    background-color: #ffcc29;

    list-style-type: none;
    font-size: 0.75rem;
}

@media(min-width: 40rem) {
    .footer__list {
        flex-direction: row;
    }
}