.header {
    display: flex;
    flex-direction: row;

    padding: 1rem;

    background-color: #f5f5f5;
}

.header__heading {
    flex-grow: 1;

    text-align: center;
}

.login-link {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    color: black;

    text-decoration: none;
}

.login-image {
    height: 1.5rem;
    width: 1.5rem;
}

.profile-button {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    border: none;

    color: black;
    background: none;

    text-decoration: none;
    cursor: pointer;
}