.details-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem;
}

.details-wrapper {
    display: flex;
    flex-direction: column;

    border: 2px solid #f5f5f5;
}

.details__info {
    display: flex;
    flex-direction: column;

    margin-bottom: 1rem;
    padding: 1rem;

    background-color: #f5f5f5;
}

.details__error {
    color: red;
}

.details__button {
    align-self: center;

    border-radius: 10px;
    margin: 0.25rem;
    margin-bottom: 0.5rem;
    border: none;
    padding: 0.5rem;

    background-color: #ffcc29;
    color: black;

    cursor: pointer;
    text-decoration: none;
    font-size: 0.8rem;
}

.details__appointment {
    align-self: center;
}