.card {
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    padding: 1rem;

    background-color: #8883832b;
}

.card__description {
    text-align: justify;
}

.card__price {
    color: #004368;

    font-weight: bold;
    font-size: 1.2rem;
}

.card__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

.card__add-to-cart {
    width: 25%;
}

.card__link {
    border-radius: 50px;
    padding: 0.5rem 1rem;

    background-color: #ffcc29;
    color: #004368;

    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.card__link:hover {
    background-color: #004368;
    color: white;
}
